@import url(http://fonts.googleapis.com/css?family=Racing+Sans+One|Roboto:400,400italic,700);

body {
    background-color: rgba(40, 50, 51, 1);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
}

body * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    margin: 0 0 16px;
}

a {
  color: rgba(31, 161, 209, 1);
}

article, table {
    background-color: rgba(239, 239, 239, 1);
    color: #222;
    padding: 16px;
    margin: 0 0 1px 0;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tbody {
    border-bottom: 1px solid #222;
}

tbody:last-child {
    border: none;
}

[role="background"] {
    background-attachment: fixed;
    background-color: rgba(60, 69, 77, 1);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 140%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

[role="header"],
[role="main"],
[role="footer"] {
    color: #efefef;
    margin: 0;
    overflow: visible;
    padding: 0 4px;
    width: 100%;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
    height: 0px;
}

.header-text {
    float: left;
    margin: 0;
}

.header-controls {
    float: right;
}

/** typography */
h1, .huge-text {
    font: 2.4rem 'Racing Sans One', sans-serif;
}

h2, .large-text {
    font: 1.6rem 'Racing Sans One', sans-serif;
}

body, h3, .normal-text {
    font: 14px 'Roboto', Helvetica, Arial, sans-serif;
}

h4, .small-text {
    font: .8rem 'Roboto', Helvetica, Arial, sans-serif;
}

h5, h6, small, .tiny-text {
    font: .6rem 'Roboto', Helvetica, Arial, sans-serif;
}

.centered {
    text-align: center;
}

/** rosters */

.player-number, .player-stat {
    text-align: center;
    vertical-align: bottom;
    width: 16%;
}

.player-position, .player-name {
    padding: 4px;
}

.player-heading {
    height: 28px;
    overflow: hidden;
    padding: 0 64px 0 96px;
    position: relative;
}

.player-position {
    left: 0;
    position: absolute;
    top: 4px;
    z-index: 2;
}

.player-position span {
    color: rgba(0, 0, 0, .7);
    font-style: italic;
    left: 8px;
    position: absolute;
    text-shadow: 0px 1px rgba(255, 255, 255, .3);
    top: 0;
    z-index: 2;
}

.player-position::after {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
    content: "";
    display: block;
    height: 20px;
    left: -8px;
    position: absolute;
    top: 0px;
    width: 96px;
    -moz-transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
}

.player-position.guard::after {
    background-color: crimson;
}

.player-position.jack::after {
    background-color: goldenrod;
}

.player-position.striker::after {
    background-color: skyblue;
}

.player-name {
    font-style: italic;
}

.player-race {
    position: absolute;
    right: 8px;
    top: 8px;
}

.player-stat {
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.player-stat-label {
    display: block;
}

/** buttons */
.action {
    background-color: rgba(31, 161, 209, 1);
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font: 2.6em 'Racing Sans One', sans-serif;
    height: 84px;
    margin: 2px;
    outline: none;
    padding: 0;
    position: relative;
    text-align: center;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
    width: 84px;
}

.action .after {
    border: 4px dotted rgba(256, 256, 256, .6);
    border-radius: 50%;
    bottom: 3px;
    display: block;
    left: 3px;
    position: absolute;
    right: 3px;
    top: 3px;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.action.on {
    background-color: rgba(117, 204, 121, .7);
    -moz-transform: scale3d(1.6, 1.6, 0);
    -webkit-transform: scale3d(1.6, 1.6, 0);
    transform: scale3d(1.6, 1.6, 0);
    z-index: 2;
}

.action.on .after {
    -moz-animation: spin 2.4s linear;
    -webkit-animation: spin 2.4s linear infinite;
    animation: spin 2.4s linear;
}

.action.rock {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    -moz-transform: scale3d(4.6, 4.6, 0);
    -webkit-transform: scale3d(4.6, 4.6, 0);
    transform: scale3d(4.6, 4.6, 0);
}

.action.rock .after {
    border-color: rgba(255, 255, 255, 0);
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotateZ(0deg); }
    100% { -webkit-transform: rotateZ(360deg); }
}

@media screen and (orientation:portrait) {

    [role="background"] {
        background-image: url(/images/bkg_body_portrait.jpg);
        background-position: top center;
    }
}

@media screen and (orientation:landscape) {

    [role="background"] {
        background-image: url(/images/bkg_body_landscape.jpg);
        background-position: center center;
    }
}