h4 #{Constants[Enums.Positions.JACK]} only
p
    | A player with this ability may 
    a(href="/actions/#{Enums.Actions.DASH}") #{Constants[Enums.Actions.DASH]} 
    | as part of any action that would normally allow it to move at least 1 hex.