extends layout

block content

    div(role="main")
        div.container

            div.row

                div.col-lg-12
                    section.ability
                        if Constants[ability]
                            h2 #{Constants[ability]}
                            !{description}
                        else
                            include errors/404.jade
