extends layout


block content

    div(role="main", ng-controller='customizeCtrl')
        div.container

            div.row

                div.col-lg-12
                    unless team
                        include errors/404.jade
                    else
                        section.team
                            a.h2(editable-text='team.name', ng-bind='team.name')
                            div
                                small #{team.cards} Cards / 
                                small #{team.dice} Coaching Die / 
                                small &#8354; {{cost}}M Team Cost

                            - var roster = team.players
                            if roster
                                section.roster

                                    table.table.table-striped.table-condensed
                                        thead
                                            tr
                                                th
                                                    small.visible-sm Position
                                                    span.visible-md Position
                                                    span.visible-lg Position
                                                th
                                                    small.visible-sm Name
                                                    span.visible-md Name
                                                    span.visible-lg Name
                                                th.hidden-sm.text-center
                                                    small.visible-sm Xp
                                                    span.visible-md Xp
                                                    span.visible-lg Exp
                                                th.hidden-sm.text-center
                                                    small.visible-sm Rn
                                                    span.visible-md Rn
                                                    span.visible-lg Rank
                                                th.text-center
                                                    small.visible-sm Mv
                                                    span.visible-md Mv
                                                    span.visible-lg Move
                                                th.text-center
                                                    small.visible-sm St
                                                    span.visible-md St
                                                    span.visible-lg Strength
                                                th.text-center
                                                    small.visible-sm Sp
                                                    span.visible-md Sp
                                                    span.visible-lg Speed
                                                th.text-center
                                                    small.visible-sm Sk
                                                    span.visible-md Sk
                                                    span.visible-lg Skill
                                                th.text-center
                                                    small.visible-sm Ar
                                                    span.visible-md Ar
                                                    span.visible-lg Armor
                                                th.text-right
                                                    small.visible-sm M&#8354;
                                                    span.hidden-sm M&#8354;
                                        tbody.player(ng-repeat='player in players')
                                            tr.player-stats
                                                td 
                                                    span(ng-bind='player.number')
                                                    | &nbsp;
                                                    span.capitalized(ng-bind='player.position | constant')
                                                td
                                                    a(editable-text='player.name', ng-bind='player.name')
                                                 td.hidden-sm.text-center.player-exp(ng-bind='player.experience')
                                                 td.hidden-sm.text-center.player-rank(ng-bind='player.rank')
                                                 td.text-center.player-move(ng-bind='player.move')
                                                 td.text-center.player-strength(ng-bind='player.strength')
                                                 td.text-center.player-speed(ng-bind='player.speed')
                                                 td.text-center.player-skill(ng-bind='player.skill')
                                                 td.text-center.player-armor(ng-bind='player.armor')
                                                 td.text-right.player-value(ng-bind='player.cost')
                                            tr.player-abilities
                                                td(colspan=11): small Abilities:&nbsp;
                                                    span(ng-repeat='ability in player.abilities')
                                                        a(ng-bind='ability | constant', href="/abilities/{{ability}}")
                                                        span(ng-hide='(player.abilities.length-$index-1)==0') ,&nbsp;
                                                    em.text-muted(ng-hide='player.abilities.length')&nbsp;None
                                                    