extends layout

block content
    button.action(draggable="true") 01
        span.after
    button.action 02
        span.after
    button.action 03
        span.after
    button.action 04
        span.after
    button.action 05
        span.after
    button.action 06
        span.after