extends layout

block content

    article
        p.huge-text .huge-text
            br 
            | .huge-text

        p.large-text .large-text
            br
            | .large-text

        p .normal-text
            br
            | .normal-text

        p.small-text .small-text
            br
            | .small-text

        p.tiny-text .tiny-text
            br
            | .tiny-text

    article.centered
        button.action 01
            span.after
        button.action 02
            span.after
        button.action 03
            span.after