extends layout

block content

    div(role="main", class="index")
        // form(role="search", method="GET", action="/search")
        //    div.form-group
        //        input(type="text", placeholder="Quicksearch...", name="q").form-control
