doctype 5
html(ng-app='app')
  head
    title
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="cleartype", content="on")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/charts.css')
    link(rel='stylesheet', href='/stylesheets/test01.css')
  body

    header.db-navbar.navbar.navbar-inverse(role="header")
        div.navbar-header
            a(href="/").navbar-brand Dreadnauts 
            a(href="/stats").navbar-brand Stats
            a(href="/teams").navbar-brand Teams
        ul.nav.navbar-nav.db-navbar-right
            li: a(href="#quicksearch", data-toggle="collapse", data-target="#db-nav-quicksearch").glyphicon.glyphicon-search.collapsed
        form(id="db-nav-quicksearch", role="search", method="GET", action="/search").navbar-form.collapse
            div.form-group
                input(type="text", placeholder="Quicksearch...", name="q").form-control

    block content

    footer(role="footer")
        div.text-right
            small
                | DreadBall &copy; 2013 Mantic Entertainment Ltd. 
                | | 
                a(href="http://www.manticgames.com/", target="_blank") mantic games 
                | | 
                a(href="http://www.quirkworthy.com/", target="_blank") quirkworthy

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
    script(src='/javascripts/services/services.js')
    script(src='/javascripts/directives/directives.js')
    script(src='/javascripts/directives/charts.js')
    script(src='/javascripts/controllers/stats.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='//d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='//code.jquery.com/ui/1.10.3/jquery-ui.js')
