doctype 5
html
  head
    title
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="cleartype", content="on")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/test01.css')
  body

    header.db-navbar.navbar.navbar-inverse(role="header")
        div.container
            a.navbar-brand Dreadnauts
            ul.nav.navbar-nav.hidden-sm
                li: a(href="#") Actions
                li: a(href="#") Abilities
                li: a(href="#") Teams
            p.navbar-text.pull-right.hidden-sm: small &nbsp;version 0.1

    div(role="main")
        div.container
            div.row
                section.col-lg-9
                    h3 Quicksearch
                    form(role="search")
                        div.form-group
                            input.form-control(x-webkit-speech, placeholder="Running Interference...")

    block content

    footer(role="footer")
        div.container

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/main.js')
    script
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')