extends layout

block content

    div(role="main")
        div.container

            div.row

                div.col-lg-12
                    section.page
                        if Constants[key]
                            h2 #{Constants[key]}
                            !{html}
                        else
                            include errors/404.jade
