extends layout

block content

    article.team
        h2 Trontek 49ers

    table(cellpadding="0", cellspacing="0").roster
        tbody.player
            tr
                td(colspan="6").player-heading
                    span.player-name George Washington
                    span.player-position.guard
                        span Guard
                    span.player-race.tiny-text Human
            tr
                td.player-number.large-text 01
                td.player-stat 5
                    span.player-stat-label.tiny-text move
                td.player-stat 4
                    span.player-stat-label.tiny-text strength
                td.player-stat 4
                    span.player-stat-label.tiny-text speed
                td.player-stat 4
                    span.player-stat-label.tiny-text skill
                td.player-stat 4
                    span.player-stat-label.tiny-text armor
        tbody.player.active
            tr
                td(colspan="6").player-heading
                    span.player-name John Adams
                    span.player-position.guard
                        span Guard
                    span.player-race.tiny-text Human
            tr
                td.player-number.large-text 02
                td.player-stat 5
                    span.player-stat-label.tiny-text move
                td.player-stat 4
                    span.player-stat-label.tiny-text strength
                td.player-stat 4
                    span.player-stat-label.tiny-text speed
                td.player-stat 4
                    span.player-stat-label.tiny-text skill
                td.player-stat 4
                    span.player-stat-label.tiny-text armor
        tbody.player
            tr
                td(colspan="6").player-heading
                    span.player-name Thomas Jefferson
                    span.player-position.jack
                        span Jack
                    span.player-race.tiny-text Human
            tr
                td.player-number.large-text 03
                td.player-stat 5
                    span.player-stat-label.tiny-text move
                td.player-stat 4
                    span.player-stat-label.tiny-text strength
                td.player-stat 4
                    span.player-stat-label.tiny-text speed
                td.player-stat 4
                    span.player-stat-label.tiny-text skill
                td.player-stat 4
                    span.player-stat-label.tiny-text armor
        tbody.player
            tr
                td(colspan="6").player-heading
                    span.player-name James Madison
                    span.player-position.jack
                        span Jack
                    span.player-race.tiny-text Human
            tr
                td.player-number.large-text 04
                td.player-stat 5
                    span.player-stat-label.tiny-text move
                td.player-stat 4
                    span.player-stat-label.tiny-text strength
                td.player-stat 4
                    span.player-stat-label.tiny-text speed
                td.player-stat 4
                    span.player-stat-label.tiny-text skill
                td.player-stat 4
                    span.player-stat-label.tiny-text armor
        tbody.player
            tr
                td(colspan="6").player-heading
                    span.player-name James Monroe
                    span.player-position.jack
                        span Jack
                    span.player-race.tiny-text Human
            tr
                td.player-number.large-text 05
                td.player-stat 5
                    span.player-stat-label.tiny-text move
                td.player-stat 4
                    span.player-stat-label.tiny-text strength
                td.player-stat 4
                    span.player-stat-label.tiny-text speed
                td.player-stat 4
                    span.player-stat-label.tiny-text skill
                td.player-stat 4
                    span.player-stat-label.tiny-text armor
        tbody.player
            tr
                td(colspan="6").player-heading
                    span.player-name John Q. Adams
                    span.player-position.striker
                        span Striker
                    span.player-race.tiny-text Human
            tr
                td.player-number.large-text 06
                td.player-stat 5
                    span.player-stat-label.tiny-text move
                td.player-stat 4
                    span.player-stat-label.tiny-text strength
                td.player-stat 4
                    span.player-stat-label.tiny-text speed
                td.player-stat 4
                    span.player-stat-label.tiny-text skill
                td.player-stat 5
                    span.player-stat-label.tiny-text armor
        tbody.player
            tr
                td(colspan="6").player-heading
                    span.player-name Andrew Jackson
                    span.player-position.striker
                        span Striker
                    span.player-race.tiny-text Human
            tr
                td.player-number.large-text 07
                td.player-stat 5
                    span.player-stat-label.tiny-text move
                td.player-stat 4
                    span.player-stat-label.tiny-text strength
                td.player-stat 4
                    span.player-stat-label.tiny-text speed
                td.player-stat 4
                    span.player-stat-label.tiny-text skill
                td.player-stat 5
                    span.player-stat-label.tiny-text armor
        tbody.player
            tr
                td(colspan="6").player-heading
                    span.player-name Martin Van Buren
                    span.player-position.striker
                        span Striker
                    span.player-race.tiny-text Human
            tr
                td.player-number.large-text 08
                td.player-stat 5
                    span.player-stat-label.tiny-text move
                td.player-stat 4
                    span.player-stat-label.tiny-text strength
                td.player-stat 4
                    span.player-stat-label.tiny-text speed
                td.player-stat 4
                    span.player-stat-label.tiny-text skill
                td.player-stat 5
                    span.player-stat-label.tiny-text armor

    article
        p.huge-text .huge-text
            br 
            | .huge-text

        p.large-text .large-text
            br
            | .large-text

        p .normal-text
            br
            strong .normal-text

        p.small-text .small-text
            br
            em .small-text

        p.tiny-text .tiny-text
            br
            | .tiny-text