extends layout

block content

    div(role="main")
        div.container

            div.row

                div.col-lg-9
                    if team
                        section.team
                            h2= team.name
                            div
                                small #{team.cards} Cards / 
                                small #{team.dice} Coaching Die / 
                                small M&#8354; #{team.cash}
                            - var roster = team.players
                            include includes/roster

                div.col-lg-3