extends layout

block content

    if team
        article.team

            header.team-name
                h2= team.name

            - var roster = team.players
            include includes/roster

    article
        section
            p.huge-text .huge-text
                br 
                | .huge-text

            p.large-text .large-text
                br
                | .large-text

            p .normal-text
                br
                strong .normal-text

            p.small-text .small-text
                br
                em .small-text

            p.tiny-text .tiny-text
                br
                | .tiny-text